.section-title {
    text-align: center;
    margin-bottom: 40px;
}

.section-title-main {
    margin: 0 0 10px 0;
    font-size: 32px;
    font-weight: 700;
    color: #333;
}

.section-title-sub {
    margin: 0;
    font-size: 16px;
    color: #666;
    line-height: 1.6;
}